/Users/snaranjo/Desktop/neurotranslate/mount_point/ceph/chpc/shared/janine_bijsterbosch_group/naranjorincon_scratch/NeuroTranslate/ty_script_ABCD_ICA/ABCD_ICA/*

/Users/snaranjo/Desktop/neurotranslate/mount_point/ceph/chpc/shared/janine_bijsterbosch_group/naranjorincon_scratch/NeuroTranslate/ty_script_ABCD_ICA/ICA_data/*

*.nii
*.ni.gz
*.txt
